@model IPagedList<Categories>
@{
    ViewBag.Title = "Home Page";
}

<div class="border-0 shadow rounded-lg">
    <h4 class="jumbotron p-3 pl-4 mt-0 bg-info mb-2"
        style="color:white; border-top-left-radius:10px; border-top-right-radius:10px; border-bottom-left-radius:0px;border-bottom-right-radius:0px;">
        <i class="fas fa-bars"></i> Categories
    </h4>
    <div id="accordion">
        @foreach (var item in Model)
        {
            <div class="card">
                <div class="card-header bg-secondary py-2 px-4 font-weight-bold">
                    <a href="#@item.Id" class="card-link text-white" data-toggle="collapse"><i class="fas fa-address-book"></i> @item.Name</a>
                </div>
                <div id="@item.Id" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        @foreach (var subitem in item.Topics)
                        {
                            <a href="@Url.Action("Show", "Topics", new { topicId = subitem.Id})"
                               class="py-2 bg-light border-bottom mb-1 px-4 d-block text-black-50 font-weight-normal">
                                <i class="fas fa-toilet-paper"></i>  @subitem.Subject
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="text-center">
    @Html.PagedListPager(Model, (Page) => Url.Action("Index", new { Page }))
</div>