<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Global Forum</title>
    <link href="~/Content/all.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/myStyle.css" rel="stylesheet" />
</head>
<body class="bg-light">
    <div class="navbar navbar-dark navbar-expand-md bg-dark d-flex mb-4">
        <div class="container">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="@Url.Action("Index","Home")" class="navbar-brand">Forum App</a>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Categories")">Categories</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto text-white">
                    @if (Session["LogUserName"] != null && Session["LogPassword"] != null)
                    {
                        @Html.Partial("_LogInView")
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("LogIn", "Account")">logIn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Registeration", "Account")">Registration</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
    </div>

    <footer class="container">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/all.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/sweetalert2@9.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
